<!-- Added the following script for a back to top button in every page
https://github.com/vfeskov/vanilla-back-to-top -->

<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 56,
  backgroundColor: '#424242',
  textColor: '#fff'
})</script>

<!--Adds GraphComment for the entire site. Necessary to load comment number in the Java  -->
{{/* GraphComment Comment Count JS. */}}
{{ $comments_provider := trim (site.Params.comments.provider | lower) " " }}
{{ if (eq $comments_provider "graphcomment") }}
<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  var __semio__params = {
    graphcommentId: "Software-Defined-Coffee", // make sure the id is yours

    behaviour: {
      // HIGHLY RECOMMENDED
      //  uid: "...", // uniq identifer for the comments thread on your page (ex: your page id)
    },

    // configure your variables here

  }

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  function __semio__onload() {
    __semio__gc_graphlogin(__semio__params)
  }

  function __semio__onload__counter() {
  __semio__helpers_counter('Software-Defined-Coffee')
  }


  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();


</script>

{{ end }}
